# Title: Python to Neo4j
This notebook converts the data frames in python to neo4j so that the data can be explored on neo4j. Exploring the data with Neo4j is intuitive and flexible.

In [2]:
import mesa
import numpy as np
import random
import networkx as nx 
import bisect
from pathlib import Path
import os
import sys
import csv
import pandas as pd

# Basic paths
src_path = str(Path.cwd().parent / "scripts")
sys.path.append(src_path)

project_path = Path().resolve().parent
csv_path = project_path / "data"

# Python file stored in script folder
from data_cleaning import *

# Read the Data

In [3]:
'''
    if <s{j}r{i}_analysis.csv> files don't exist,
    go to Notebooks > Aalysis.ipynb > Run "Data Cleaning" part.
'''

num_scen = 3
num_reps = 10

dfs = []
for j in range(1, num_scen+1):
    for i in range(1, num_reps+1):
        file_name = f"s{j}r{i}_analysis.csv"
        df = pd.read_csv(csv_path/file_name, index_col=0)
        df['Scenario'] = j
        df['Replication'] = i
        dfs.append(df)

🔻 I'm only working with **Scenario 1, Replication 1**, here.

In [54]:
df = dfs[0]

# Check the type! If different, errors may occur later during the conversion. 
df.dtypes

AgentID              int64
Step                 int64
Age                  int64
Edu_level            int64
Gender              object
Income             float64
Generation           int64
Cohort               int64
Weight              object
Capital             object
Brut               float64
Child1             float64
Child2             float64
Mother             float64
Father             float64
Partner            float64
Education           object
Cultural           float64
Economic           float64
Social             float64
Child1_Edu         float64
Child2_Edu         float64
Child1_Income      float64
Child2_Income      float64
Mother_Edu         float64
Father_Edu         float64
Mother_Income      float64
Father_Income      float64
Mother_Cultural    float64
Mother_Economic    float64
Mother_Social      float64
Father_Cultural    float64
Father_Economic    float64
Father_Social      float64
Scenario             int64
Replication          int64
dtype: object

In [4]:
# PARAMETERS
YOUR_PASSWORD: str = "password"
YOUR_PORT: int = 7687 # This should probably not be changed

In [5]:
import pandas as pd
from py2neo import Graph, Node, Relationship

graph = Graph(f"bolt://localhost:{YOUR_PORT}",password=YOUR_PASSWORD)

In [55]:
'''
    This can be run whenever you want to reset Neo4j
'''

graph.run('match (n) detach delete n') # Drops all data
try:
    indexes = graph.run('show indexes yield name').to_data_frame()['name'] # drops all indices
    for index in indexes:
        graph.run(f'drop index {index}')
except:
    pass

In [56]:
for i, row in df.iterrows():
    agent_id = row['AgentID']
    agent_node = graph.nodes.match("Agent", id=agent_id).first()
    if not agent_node:
        agent_node = Node("Agent", id=agent_id, education=row['Education'], gender=row['Gender'], generation=row['Generation'])
        graph.create(agent_node)

    if not pd.isna(row['Partner']):
        spouse_id = (int(row['Partner']))
        # str(int(row['Partner']))
        spouse_node = graph.nodes.match("Agent", id=spouse_id).first()
        if not spouse_node:
            spouse_education = df[df['AgentID'] == spouse_id].Education.iloc[0] if not df[df['AgentID'] == spouse_id].empty else None
            spouse_gender = df[df['AgentID'] == spouse_id].Gender.iloc[0] if not df[df['AgentID'] == spouse_id].empty else None
            spouse_generation = df[df['AgentID'] == spouse_id].Generation.iloc[0] if not df[df['AgentID'] == spouse_id].empty else 999
            spouse_income = df[df['AgentID'] == spouse_id].Income.iloc[0] if not df[df['AgentID'] == spouse_id].empty else 99999
            spouse_node = Node("Agent", id=spouse_id, education= spouse_education, gender=spouse_gender, generation=int(spouse_generation), income=int(spouse_income))
            graph.create(spouse_node)

        spouse_rel = Relationship(agent_node, "MARRIED", spouse_node)
        graph.create(spouse_rel)

        has_spouse_rel = Relationship(spouse_node, "MARRIED", agent_node)
        graph.create(has_spouse_rel)

    for j in range(1, 3):
        child_column = f"Child{j}"
        if not pd.isna(row[child_column]):
            child_id = (row[child_column])
            # str(row[child_column])
            child_node = graph.nodes.match("Agent", id=child_id).first()

            # Check for missing attributes before creating child node
            child_education = df[df['AgentID'] == child_id].Education.iloc[0] if not df[df['AgentID'] == child_id].empty else None
            child_gender = df[df['AgentID'] == child_id].Gender.iloc[0] if not df[df['AgentID'] == child_id].empty else None
            child_generation = df[df['AgentID'] == child_id].Generation.iloc[0] if not df[df['AgentID'] == child_id].empty else 999
            child_income = df[df['AgentID'] == child_id].Income.iloc[0] if not df[df['AgentID'] == child_id].empty else 99999
            if child_education is not None and child_gender is not None and child_generation != 999 and child_income != 99999:
                if not child_node:
                    child_node = Node("Agent", id=child_id, education=child_education, gender=child_gender, generation=int(child_generation), income=int(child_income))
                    graph.create(child_node)

                child_rel = Relationship(agent_node, "HAS_CHILD", child_node)
                graph.create(child_rel)

                if not pd.isna(row['Partner']):
                    spouse_id = str(int(row['Partner']))
                    spouse_node = graph.nodes.match("Agent", id=spouse_id).first()
                    if spouse_node:
                        has_child_rel = Relationship(spouse_node, "HAS_CHILD", child_node)
                        graph.create(has_child_rel)

In [57]:
# ⚠️ Important: To create labels!! 

graph.run(
"""
MATCH (n:Agent)
CALL apoc.create.addLabels(id(n),[n.education])
YIELD node
RETURN node

"""
)

 node
---------------------------------------------------------------------------------------------------------------
 (_0:Agent:`Lower Tertiary` {education: 'Lower Tertiary', gender: 'M', generation: 1, id: 0})
 (_1:Agent:`Lower Secondary` {education: 'Lower Secondary', gender: 'F', generation: 1, id: 71, income: 359})
 (_2:Agent:`Upper Tertiary` {education: 'Upper Tertiary', gender: 'F', generation: 2, id: 525.0, income: 637})

In [10]:
graph.run(
"""
MATCH (a:Agent)-[:HAS_CHILD]-(b:Agent)-[:MARRIED]-(c:Agent)
RETURN * 
"""
)

 a                                                                                                             | b                                                                                            | c
---------------------------------------------------------------------------------------------------------------|----------------------------------------------------------------------------------------------|--------------------------------------------------------------------------------------------------------------
 (_3:Agent:`Upper Tertiary` {education: 'Upper Tertiary', gender: 'F', generation: 2, id: 722.0, income: 462}) | (_0:Agent:`Lower Tertiary` {education: 'Lower Tertiary', gender: 'M', generation: 1, id: 0}) | (_1:Agent:`Lower Secondary` {education: 'Lower Secondary', gender: 'F', generation: 1, id: 71, income: 359})
 (_2:Agent:`Upper Tertiary` {education: 'Upper Tertiary', gender: 'F', generation: 2, id: 525.0, income: 637}) | (_0:Agent:`Lower Tertiary` {education: 'Lower Tertiary', gender: 'M', generation: 1, id: 0}) | (_1:Agent:`Lower Secondary` {education: 'Lower Secondary', gender: 'F', generation: 1, id: 71, income: 359})
 (_3:Agent:`Upper Tertiary` {education: 'Upper Tertiary', gender: 'F', generation: 2, id: 722.0, income: 462}) | (_0:Agent:`Lower Tertiary` {education: 'Lower Tertiary', gender: 'M', generation: 1, id: 0}) | (_1:Agent:`Lower Secondary` {education: 'Lower Secondary', gender: 'F', generation: 1, id: 71, income: 359})

In [8]:
graph.run(
"""
match (a)
where not (a)-[:MARRIED]->(:Agent) and not (a)-[:HAS_CHILD]->(:Agent)
return count(labels(a)), labels(a) 
"""
).data()

[{'count(labels(a))': 37, 'labels(a)': ['Agent', 'Lower Secondary']},
 {'count(labels(a))': 46, 'labels(a)': ['Agent', 'Primary']},
 {'count(labels(a))': 49, 'labels(a)': ['Agent', 'Upper Secondary']},
 {'count(labels(a))': 47, 'labels(a)': ['Agent', 'Upper Tertiary']},
 {'count(labels(a))': 60, 'labels(a)': ['Agent', 'Lower Tertiary']}]

In [6]:
graph.run(
"""
MATCH (a:Agent {education: 'Upper Tertiary'})-[:HAS_CHILD]-(b:Agent)
WHERE (a)-[:MARRIED]-(:Agent{education: 'Upper Tertiary'})
RETURN count(labels(b)) AS label_count, labels(b) AS node_labels
"""
).data()

[{'label_count': 164, 'node_labels': ['Agent', 'Lower Secondary']},
 {'label_count': 2441, 'node_labels': ['Agent', 'Upper Tertiary']},
 {'label_count': 1153, 'node_labels': ['Agent', 'Lower Tertiary']},
 {'label_count': 114, 'node_labels': ['Agent', 'Primary']},
 {'label_count': 348, 'node_labels': ['Agent', 'Upper Secondary']}]

In [7]:
# Try all the combinations of couple's education. For the homogamy, the agents are counted twice.

graph.run(
"""
MATCH (a:Agent {education: 'Upper Secondary'})-[:HAS_CHILD]->(b:Agent)<-[:HAS_CHILD]-(c:Agent{education: 'Lower Secondary'})
WHERE (a)-[:MARRIED]-(c)
RETURN count(labels(b)) AS label_count, labels(b) AS node_labels
"""
).data()

[{'label_count': 27, 'node_labels': ['Agent', 'Upper Tertiary']},
 {'label_count': 22, 'node_labels': ['Agent', 'Lower Secondary']},
 {'label_count': 31, 'node_labels': ['Agent', 'Upper Secondary']},
 {'label_count': 25, 'node_labels': ['Agent', 'Lower Tertiary']},
 {'label_count': 3, 'node_labels': ['Agent', 'Primary']}]

In [11]:
graph.run(
'''
MATCH (a:Agent)-[:MARRIED]-(b:Agent)
where a.education <> b.education
RETURN count(labels(b)) AS label_count, labels(b) AS node_labels
'''
).data()

[{'label_count': 582, 'node_labels': ['Agent', 'Lower Secondary']},
 {'label_count': 2118, 'node_labels': ['Agent', 'Lower Tertiary']},
 {'label_count': 1238, 'node_labels': ['Agent', 'Upper Secondary']},
 {'label_count': 2176, 'node_labels': ['Agent', 'Upper Tertiary']},
 {'label_count': 402, 'node_labels': ['Agent', 'Primary']}]